@model khaderbandak_202311342.Models.joke

@{
    Layout = null;
}

<h2>joke App</h2>


<h3>category @Model.category</h3>
<p>type: @Model.type</p>
<p>setup: @Model.setup</p>
<p>answer: @Model.delivery</p>

